# ==================== GLOBAL ====================
NODE_ENV=development


# ==================== DATABASE (POSTGRES) ====================
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=pdf_rag_chatbot
POSTGRES_HOST=localhost
POSTGRES_PORT=5432

DATABASE_URL=postgresql://postgres:password@localhost:5432/pdf_rag_chatbot?schema=public


# ==================== REDIS ====================
REDIS_URL=redis://localhost:6379


# ==================== BACKEND ====================
BACKEND_PORT=4000

CORS_ORIGIN=http://localhost:3000

JWT_ACCESS_SECRET=your_access_secret_here
JWT_REFRESH_SECRET=your_refresh_secret_here

JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d


UPLOAD_DIR=./uploads
MAX_UPLOAD_SIZE_MB=25


# ==================== ADMIN SEED ====================
ADMIN_EMAIL=admin@example.com
ADMIN_PASSWORD=change_admin_password_here
ADMIN_NAME=Super Admin


# ==================== PYTHON AI SERVICE ====================
AI_SERVICE_PORT=8000

CHROMA_DB_PATH=./chroma_data
CHROMA_COLLECTION_NAME=pdf_knowledge_base

EMBEDDING_MODEL=sentence-transformers/all-MiniLM-L6-v2

CHUNK_SIZE=1000
CHUNK_OVERLAP=150


# ==================== LLM CONFIG ====================
LLM_PROVIDER=groq

GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile


# OpenAI (Optional)
# LLM_PROVIDER=openai
# OPENAI_API_KEY=your_openai_api_key_here
# OPENAI_MODEL=gpt-4o-mini


# ==================== FRONTEND ====================
NEXT_PUBLIC_API_URL=http://localhost:4000/api